@import 'variables';
@import './helpers/typography';
@import "~ngx-smart-modal/ngx-smart-modal";
.container {
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-image: url(/assets/background.png);
}

body {
    background-color: #F8F8F8;
    font-family: 'Oswald', sans-serif;
    // background-image: url('/assets/tiles/tile-mountain.png');
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.error {
    color: red;
    font-style: italic;
    font-size: 90% !important;
}