<app-headerguest></app-headerguest>

<div class="container">
    <table>
        <tr>
            <td width="40"></td>
            <td><input type="text" placeholder="username" [(ngModel)]="username"></td>
            <td width="40"></td>
        </tr>
        <tr *ngIf="error.username">
            <td></td>
            <td class="error">{{ error.username }}</td>
            <td></td>
        </tr>
        <tr>
            <td width="40"></td>
            <td><input type="password" placeholder="password" [(ngModel)]="password"></td>
            <td width="40"></td>
        </tr>
        <tr *ngIf="error.password">
            <td></td>
            <td class="error">{{ error.password }}</td>
            <td></td>
        </tr>
        <tr>
            <td width="40"></td>
            <td>
                <button (click)="login()">Login</button>
            </td>
            <td width="40"></td>
        </tr>
        <tr>
            <td width="40"></td>
            <td class="register-text">
                Not registered ? <a routerLink="/register"> Create an account </a>
            </td>
            <td width="40"></td>
        </tr>
    </table>
</div>
<audio id="intro-music">
  <source src="./assets/musics/intro.mp3" type="audio/mpeg">
</audio>