<app-header></app-header>

<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="5">
                    Attack Power
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <span class="left">0</span>
                    <span class="right">40</span>
                </td>
                <td>Pwr</td>
                <td></td>
                <td>Cost</td>
            </tr>
            <tr>
                <td>Multiplication</td>
                <td class="attack-bar">
                    <span class="current-bar" id="multiplication"></span>
                </td>
                <td>10</td>
                <td><span class="upgrade"><i class="fa fa-plus"></i></span></td>
                <td>$ 50</td>
            </tr>
            <tr>
                <td>Division</td>
                <td class="attack-bar">
                    <span class="current-bar" id="division"></span>
                </td>
                <td>10</td>
                <td><span class="upgrade"><i class="fa fa-plus"></i></span></td>
                <td>$ 50</td>
            </tr>
            <tr>
                <td>Addition</td>
                <td class="attack-bar">
                    <span class="current-bar" id="addition"></span>
                </td>
                <td>6</td>
                <td><span class="upgrade"><i class="fa fa-plus"></i></span></td>
                <td>$ 30</td>
            </tr>
            <tr>
                <td>Subtraction</td>
                <td class="attack-bar">
                    <span class="current-bar" id="subtraction"></span>
                </td>
                <td>6</td>
                <td><span class="upgrade"><i class="fa fa-plus"></i></span></td>
                <td>$ 30</td>
            </tr>
            <tr>
                <td></td>
                <td class="upgrade-confirm">
                    Upgrade
                </td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="3">
                    Player Report
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-money" aria-hidden="true"></i> 400</td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    <img src="/assets/avatars/1/face-down.png">
                </td>
            </tr>
            <tr>
                <td>Level :</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Battle Won :</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Pokedex %:</td>
                <td>6.5%</td>
            </tr>
            <tr>
                <td>brianruchiadi</td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Play</th>
            </tr>
        </thead>
        <tbody>
            <tr class="full">
                <td>Stage 1</td>
            </tr>
            <tr class="full">
                <td>Stage 2</td>
            </tr>
            <tr class="full disabled">
                <td>Stage 3</td>
            </tr>
            <tr class="full disabled">
                <td>Stage 4</td>
            </tr>
            <tr class="full disabled">
                <td>Stage 5</td>
            </tr>
        </tbody>
    </table>
</div>